# virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# environment variables
.env

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# editors
.vscode/
.idea/
.DS_Store

# data files
*.csv
*.json